
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout - Admin.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Pages/Lecture.js"></script>

<h2 style="text-align:center">Lecture Form</h2>

LectureDate<br>

<input id="txtDString" class="form-control p-2" type="date" /><br>

TimeSlot
<br>
<input id="TxtTimeSlot" type="time" class="form-control p-2" />
<br>

Topic
<br>
<input type="text" class="form-control p-2" id="TxtTopic" />
<br>

Details
<br>
<input type="text" class="form-control p-2" id="TxtDetails" />
<br>

LectureById
<br>
<input type="text" class="form-control p-2" id="TxtLectureById" />
<br>

LecturePhoto1
<br>
<input type="file" class="form-control p-2" id="LecturePhoto1" />
<br>

LecturePhoto2
<br>
<input type="file" class="form-control p-2" id="LecturePhoto2" />
<br>

NotesDocument
<br>
<input id="TxtNotesDocument" type="file" class="form-control p-2"  />
<br>

TestDocument
<br>
<input type="file" class="form-control p-2" id="TxtTestDocument" />
<br>

IsActive
<br>
<select id="IsActive" class="form-control">
    <option>Yes</option>
    <option>No</option>
    </select>

<br>
<br>
<center><input id="BtnSave" type="button" class="btn btn-success" value="SAVE" onclick="saveLecture()" /></center>